In [1]:
import pandas as pd
import numpy as np

**Question 1:**

Create two Pandas Series, the first with odd numbers and the second with even numbers from 1 to 100,000,000.

Add, subtract, multiply and divide the elements in the two Pandas Series. Use vectorization to perform these operations (i.e. do not use for loops). Display only the first 4 instances of each resulting Series.

In [8]:
# answer here
odd = pd.Series(np.arange(1, 100_000_000, 2))
even = pd.Series(np.arange(2, 100_000_000, 2))

# Add the two series together
total = odd + even
print(total.head(4))

# Subtract the two series
total = odd - even
print(total.head(4))

# Multiply the two series
total = odd * even
print(total.head(4))


# Divide the two series
total = odd / even
print(total.head(4))

0     3.0
1     7.0
2    11.0
3    15.0
dtype: float64
0   -1.0
1   -1.0
2   -1.0
3   -1.0
dtype: float64
0     2.0
1    12.0
2    30.0
3    56.0
dtype: float64
0    0.500000
1    0.750000
2    0.833333
3    0.875000
dtype: float64

**Question 2:**

Generate a Pandas Series with 10,000,000 random integers between 1 and 10,000 and calculate the mean, standard deviation, max, min, and range. Remember that pandas series is built based on NumPy.

*Bonus exercise*: Select one of the statistics mentioned above and use the `timeit` magic function to show how much faster it is to calculate using vectorization vs. the traditional way of looping.

In [30]:
#answer here
# Create a series with 10,000,000 random integers between 1 and 10,000

nums = pd.Series(np.random.randint(1, 10_000, 10_000_000))

# Find the mean of the series
print(nums.mean())

# Find standard deviation of the series
print(nums.std())

# Find the median of the series
print(nums.min())

# Find the mode of the series
print(nums.max())

# Find the range of the series
print(nums.max() - nums.min())

# Bonus: Compare time it takes to find the mean using pandas vs. python lists
%timeit nums.mean()
%timeit sum(nums) / len(nums)

5000.0110506
2886.295085990277
1
9999
9998
3.27 ms ± 140 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
367 ms ± 2.91 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

**Question 3:** Create a Pandas Series from the dictionary below.

```
age = {"Sarah": 23, "Noor": 36, "Michael": 20,
       "Mika": 28, "Ahmed": 22, "Jenna": 45,
       "Mona": 46, "Jack": None, "John": 30,
       "Ana": 43, "Abdullah": 32, "Leah": 31}
```

1. Set the age of Ana to 27. Set the age of the 4th person to 35.
2. Subtract 1 from everyone's age. Use Panda's broadcasting feature.
3. What's the median age?

In [34]:
#answer here
age = {"Sarah": 23, "Noor": 36, "Michael": 20,
       "Mika": 28, "Ahmed": 22, "Jenna": 45,
       "Mona": 46, "Jack": None, "John": 30,
       "Ana": 43, "Abdullah": 32, "Leah": 31}

# Create a series from the dictionary
age = pd.Series(age)

# Set Ana's age to 27
age["Ana"] = 27

# Set the 4th person's age to 35
age[3] = 35

print(age)

# Find the median age
print(f'Median age: {age.median()}')

Sarah       23.0
Noor        36.0
Michael     20.0
Mika        35.0
Ahmed       22.0
Jenna       45.0
Mona        46.0
Jack         NaN
John        30.0
Ana         27.0
Abdullah    32.0
Leah        31.0
dtype: float64
Median age: 31.0

**Question 4:**

When studying NumPy we've learned about boolean masking. Since Pandas is built on NumPy, we can also apply boolean masking on Pandas Series.

Create a new Series ``gender`` from the given dictionary.

```
gender = {"Sana":"F", "Sarah": "F", "Bayan":"F","Noor": "F", "Michael": "M",
          "Mika": "F", "Ahmed": "M", "Jenna": "F", "Alex":"M", "Jess":"M",
          "Mona": "F", "Jack": "M", "John": "M", "Jenny":"F", "Christopher":"M",
          "Ana": "F", "Abdullah": "M", "Leah": "F", "Fatima":"F"}
```
1. Use boolean masking to return a Series that includes only the females in the list.
2. Use the `age` Series you generated in the previous question and boolean masking to calculate the average age of females. We only want the average age of the females whose age we know.

In [45]:
#answer here
gender = {"Sana":"F", "Sarah": "F", "Bayan":"F","Noor": "F", "Michael": "M",
          "Mika": "F", "Ahmed": "M", "Jenna": "F", "Alex":"M", "Jess":"M",
          "Mona": "F", "Jack": "M", "John": "M", "Jenny":"F", "Christopher":"M",
          "Ana": "F", "Abdullah": "M", "Leah": "F", "Fatima":"F"}

# Create a series from the dictionary
gender = pd.Series(gender)

# Use boolean masking to return a Series that includes only the females in the list
gender[gender == "F"]

# Use the age Series from the previous exercise and boolean masking to calculate average age of females
avg_female_age = age[gender == "F"].mean()

print(f'Average age of females: {avg_female_age:.2f}')

Average age of females: 34.71

**Question 5:** Create a function that will take as input two lists, and a flag. The function will convert the lists to Pandas Series, and combine them. Depending on the flag, either reset the index if ``True`` or keep as is if ``False``.

```
ids = [1404, 1696, 7849, 4615, 7890, 4867, 6266, 5859, 9000, 4279, 2426,
       7379, 4132, 6096, 4926, 4724, 5200, 3048, 5714, 8203, 1723, 2224,
       2054, 2704, 6632, 5426, 6121, 6699, 3774, 5295, 2143, 9743]

ids_part2 = [4193, 8884, 4983, 6970, 4607, 4030, 8016, 5734, 1385, 8682,
        5486, 7896, 7267, 6013, 5441, 2652, 6977, 3492, 6052, 5165, 8482,
        8013, 2246, 9973, 4007, 2942, 1115, 7395]
```

In [53]:
# answer here

# Function to combine two series
def combine_series(series1, series2, index_reset):
    if index_reset:
        return pd.concat([series1, series2], ignore_index=True)
    else:
        return pd.concat([series1, series2])

ids = [1404, 1696, 7849, 4615, 7890, 4867, 6266, 5859, 9000, 4279, 2426,
       7379, 4132, 6096, 4926, 4724, 5200, 3048, 5714, 8203, 1723, 2224,
       2054, 2704, 6632, 5426, 6121, 6699, 3774, 5295, 2143, 9743]

ids_part2 = [4193, 8884, 4983, 6970, 4607, 4030, 8016, 5734, 1385, 8682,
             5486, 7896, 7267, 6013, 5441, 2652, 6977, 3492, 6052, 5165, 8482,
             8013, 2246, 9973, 4007, 2942, 1115, 7395]

flag = False

# Create series from ids lists
ids = pd.Series(ids)
ids2 = pd.Series(ids_part2)

# Combine the two series
ids = combine_series(ids, ids2, flag)

ids

0     1404
1     1696
2     7849
3     4615
4     7890
5     4867
6     6266
7     5859
8     9000
9     4279
10    2426
11    7379
12    4132
13    6096
14    4926
15    4724
16    5200
17    3048
18    5714
19    8203
20    1723
21    2224
22    2054
23    2704
24    6632
25    5426
26    6121
27    6699
28    3774
29    5295
30    2143
31    9743
0     4193
1     8884
2     4983
3     6970
4     4607
5     4030
6     8016
7     5734
8     1385
9     8682
10    5486
11    7896
12    7267
13    6013
14    5441
15    2652
16    6977
17    3492
18    6052
19    5165
20    8482
21    8013
22    2246
23    9973
24    4007
25    2942
26    1115
27    7395
dtype: int64