In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

# Commenting this out since I run the notebook locally

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
path = "data/"

# Question 1

Load the ``Gender_Height_Weight`` dataset, and test the following hypothesis with the correct arguments.

- Males have higher BMI than Females.

*Note:*

> $BMI = \frac{kg}{m^2}$

In [2]:
import pandas as pd
from scipy import stats

data = pd.read_csv(path+"Gender_Height_Weight.csv")
data.head(2)

  Gender  Height  Weight  Index
0   Male     174      96      4
1   Male     189      87      2

In [32]:
#answer here
males = data[data['Gender'] == 'Male']
females = data[data['Gender'] == 'Female']

def calculate_bmi(row):
    return row['Weight'] / (row['Height'] / 100)**2

males['BMI'] = males.apply(calculate_bmi, axis=1)
females['BMI'] = females.apply(calculate_bmi, axis=1)

stats.ttest_ind(males['BMI'], females['BMI'])

/var/folders/qs/8nfd6c2x47v00b37yxwrmd8r0000gn/T/ipykernel_63204/2689380587.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  males['BMI'] = males.apply(calculate_bmi, axis=1)
/var/folders/qs/8nfd6c2x47v00b37yxwrmd8r0000gn/T/ipykernel_63204/2689380587.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  females['BMI'] = females.apply(calculate_bmi, axis=1)

Ttest_indResult(statistic=0.6059273001733945, pvalue=0.5448390952717339)

# Note
To test if two **categorical** variables are independent, $\chi^2$ (chi-square) test is used. Essentially, comparing the frequencies in the data to the expected frequencies.

The steps for carrying out a $\chi^2$ test normally are as follows:

1. Create a contingency table
2. Using the contingency table, calculate the degrees of freedom (dof):
> $dof = (n_{rows}-1)*(n_{columns}-1)$
3. Construct the expected frequency table
> $expected\_frequency = \frac{(total_{row} * total_{column})}{grand total}$
4. Calculate ``chi-square`` statistic
> $\chi^2=\sum{\frac{(O_i-E_i)^2}{E_i}}$
5.  Compare p-value to the significance level (or alternatively compare $\chi^2$ to the critical value)

# Question 2

Does the passenger gender affect survival? Is there a statistically significant difference in the genders populations between survivors and non-survivors?

Load the ``Titanic`` dataset and analyze.

*Note:* If `Survived=1` then the passenger survived, otherwise they didn't.

*Hints:*

- Lookup ``crosstab`` function from ``pandas``
- You don't have to do all the calculations manually, for that ``chi2_contingency`` from ``scipy.stats`` will be useful

In [33]:
titanic = pd.read_csv(path+"Titanic.csv")
titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [49]:
#answer here
cross_table = pd.crosstab(titanic['Survived'], titanic['Sex'])
# calculate the chi-square statistic
stats.chi2_contingency(cross_table)

Chi2ContingencyResult(statistic=260.71702016732104, pvalue=1.1973570627755645e-58, dof=1, expected_freq=array([[193.47474747, 355.52525253],
       [120.52525253, 221.47474747]]))